/* панель */
.hov:hover{
    background-color: rgba(145, 97, 52, 0.76);
    font-weight: bold;
}
.navbar-toggler:hover{
    background-color: rgba(145, 97, 52, 0.548);
}

#coff {
    font-size: 22px;
    animation: color-change 5s infinite;
  }
@keyframes color-change {
        0% { color: rgb(0, 0, 0); }
        20% { color: rgb(95, 63, 11); }
        40% { color: rgb(211, 166, 99); }
        60% { color: rgb(174, 154, 122); }
        80% { color: rgb(95, 63, 11); }
        100% { color: rgb(0, 0, 0); }
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* главная */
.mainimg{
    margin: 100px 0 50px 0;
    display: flex; 
}
#glavimg{
    width: 60% 
}
#glavimg img {
    width: 85%;
}
#glavimg2{
    width: 40%;
    max-height: 30%;
}
#glavimg2 img{
    width: 90%;
    margin-left: 5px;
}

.foto{
    margin-bottom: 50px;
}

/* сотрудники */
h1{
    text-align: center;
    margin-bottom: 110px;
}
.people{
    display: flex; 
    justify-content: space-around;
    margin: -10px 5% 0 5%;
}
.chel{
    width: 350px;
    height: 150px;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
.chel p{
    margin-bottom: 5px;
}
.chel h5{
    font-weight: bold;
    font-size: 18px;
}
.chel img{
    border-radius: 100%;
    margin: -120px 0 10px 0px;
    width: 60%; 
    object-fit: cover;
    transition: 2s;
}
.chel img:hover{
    margin: -180px 0 0 0px;
}
/* повора */
.people2{
    display: flex; 
    justify-content: space-around;
    margin: 30px 5% 0 5%;
}
.chel2{
    width: 350px;
    height: 300px;
    border: 1px solid;
    margin: 10px;
    text-align: center;
    border-radius: 60px;
    object-fit: cover;
    transition: 1s;
}
.chel2 p{
    margin-bottom: 5px;
}
.chel2 img{
    border-radius: 40px;
    margin: 15px 0 10px 0px;
    width: 60%; 
}
.chel2:hover{
    margin-top: -10px;
}
.chel2 h5{
    font-weight: bold;
    font-size: 18px;
}
#pytno{
    width: 70%;
    margin: 10px 15% 10px 15%;
}
#pytno img{
    width: 90%;
    
}
/* о нас */
.about{
    margin-bottom: 0px;
    background-color: rgb(119, 89, 54);
    height: 200px;
    color: white;
    text-align: center;
    padding: 8px 10px 0 10px;
}
.about p{
    font-style: italic;
}

/* акции */
#sile{
    text-align: right;
    margin:0  5% 50px 0;
}
.gallery2{
    width: 100%;
    padding: 70px 0 0 0;
    margin-top: 50px;
}
.gallery2 h3{
    margin-left: 5%;
    color: brown;
    font-weight: bold;
    font-style: italic;
}
 a {
    text-decoration: none;
    font-weight: bold;
}
 a:hover{
    color: rgb(0, 0, 0);
}
.gallary2 h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgbox{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;
}
.imggal{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}
.imggal img {
    width: 100%;
    transition: .4s;
}
.imggal:hover img {
    opacity: 0.2;
}
.imggal p{
    font-size: 20px;
    position: absolute;
    width: 100px;
    margin: 15px 0px;
    text-align: center;
    color: white;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
}
.imggal:hover p{
    opacity: 1;
}
#idvk{
    text-align: right;
    margin:0  5% 50px 0;
}


/* регистрация */
.regform p{
    margin-top: 15px;
}
.reg #chashca{
    width: 40%;
    padding-top: 50px;
}
#chashca img{
    width: 90%;
}
.reg {
    margin: 10px 0 20px 10%;
    display: flex;
}
.reg #regform{
    width: 60%;
    margin-left: 10px;
}
#regform h4{
    font-weight: bold;
    margin: 30px 0;
    text-align: center;
}
#otpr {
    margin: 10px 0 30px 0px;
}
#otpr:active{
    background-color: rgb(17, 64, 36);
    box-shadow: 3px 5px 5px 3px rgba(11, 40, 15, 0.127);
}



/* вк */
.vk #logo img{
    border-radius: 100%;
    width: 100%;
}
#logo{
    width: 70%;
    margin: 0 15% 0 15%;
}
.vk{
    margin: 0 40% 50px 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20%;

}
.vk button:active{
    background-color: rgb(14, 14, 59);
    box-shadow: 3px 5px 5px 3px rgba(11, 1, 69, 0.127);
}

/*  */
.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    background-color: rgb(37, 22, 3);
    color: white;
    width: 100%;
    text-align: center;
}
.footer div{
    padding: 10px;
    width: 20%;
}
.footer div p{
    font-style: italic;
}
.footer a {
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.footer a:hover{
    color: rgba(255, 227, 155, 0.889);
}
.footer h5 {
    color: rgb(255, 220, 155);
}
.footer2{
    color: white;
    text-align: center;
    background-color: rgb(37, 22, 3);
    height: 40px;
}
@media (min-width: 1000px) {
	.chel h5, .chel2 h5{
        font-size: 20px;
    } 
    .chel p, .chel2 p{
        font-size: 20px;
    } 
    p{
        font-size: 22px;
    }
    .chel{
        height: 200px;
    }
    .people{
        margin-top: 200px;
    }
    .imggal p{
        width: 350px;
        font-size: 30px;
        line-height: 1em;
    }
}
@media (min-width: 800px) and (max-width:1000px) {
    .people{
        margin-top: 200px;
    }
}
@media (max-width: 800px) {
    .chel{
        height: 190px;
    }
    .chel img{
        margin: -50px 0 10px 0px;
    }
    .chel img:hover{
        margin: -120px 0 0 0px;
    }
    .chel2{
       height: 250px;
    }
}
@media (max-width: 600px) {
    .about{
        height: auto;
    }
    .people{
        flex-direction: column;
        margin: 30px 5% 0 5%;
    }
    .chel{
        width: auto;
        height:180px;
        margin: 50px 20% 100px 19%;
        text-align: center;
    }
    .chel img{
        margin: -100px 0 10px 0px;
        object-fit: cover;
        transition: 1s;
    } 
    .chel img:hover{
        margin: -160px 0 0 0px;
    }
    .people2{
        flex-direction: column;
        margin: -15px 5% 0 5%;
    }
    .chel2{
        width: auto;
        height: 326px;
        margin: 20px 20% 20px 19%;
        text-align: center;
    } 
    .chel2:hover{
        margin: 20px 10% 0 10%;
    }
    .imggal p{
        font-size: 10px;
    }
    .reg{
        margin-left: 10px;
    }
    .footer2{
        height: 40px;
        margin: -3px 0 5px 0;
    }
    .vk{
        width: 40%;
        margin: 0 30% 50px 30%;
    }
    .footer{
        flex-direction: column;
    }
    .footer div{
        width: 90%;
    }
}
